include /mixins/rating
include /mixins/facility
h4
  a.mr-2(href="/location/")= location.name
  small
    +rating(location.rating)
  span.badge.float-right.badge-info= location.distance
p.address= location.address
p
  each facility in location.facilities
    +facility(facility, false)