h4
  a.mr-2(href="/location/") Starcups
  small
    i.fas.fa-star
    i.fas.fa-star
    i.fas.fa-star
    i.far.fa-star
    i.far.fa-star
  span.badge.float-right.badge-info 100m
p.address 125 High Street, Reading, RG6 1PS
p
  span.badge.badge-primary.mr-1 Hot drinks
  span.badge.badge-primary.mr-1 Food
  span.badge.badge-primary.mr-1 Premium Wi-Fi