extends layout

block content
  .row.page-header
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-md-9
      .row.mb-3
        .col-12.col-sm-6
          include /includes/location-info-item/benefits
        .col-12.col-sm-6.location-map
          include /includes/location-info-item/map
      .row.mb-3
        .col-12
          include /includes/location-info-item/reviews-group
    .col-12.col-md-3
      p.lead #{location.name} #{sidebar.context}
      p #{location.callToAction}

            