extends layout

block content
  .row.page-header
    .col-12
      h1 Starcups
  .row
    .col-12.col-md-9
      .row
        .col-12.col-sm-6
          include includes/location-info-item/benefits
        .col-12.col-sm-6.location-map
          include includes/location-info-item/map

            