extends layout

block content
  #banner.page-header1
    .row
      .col-12.col-lg-6
        h1= pageHeader.title
        p.lead= pageHeader.strapline
  .row
    .col-12.col-lg-8
      h3 Let's visit one from this list?
      .row.list-group
        each location in locations
          .col-12.list-group-item
            include /includes/locations-list-group-item
    .col-12.col-lg-4
      p.lead= sidebar