include /mixins/rating
include /mixins/facility
p.rating
  +rating(location.rating)
p.address= location.address
.card.mb-2
  .card-header Opening hours
  ul.list-group.list-group-flush
    each time in location.openingTimes
      li.list-group-item
        | #{time.days} 
        if time.closed
          | closed
        else
          | #{time.opening} - #{time.closing}
.card.mb-2
  .card-header Facilities
  .card-body
    each facility in location.facilities
      +facility(facility, true)