.card.rewiew-card
  .card-header
    a.btn.btn-primary.float-right(href="/location/review/new") Add review
    h2.card-title Customer reviews
  .list-group.list-group-flush
    each review in location.reviews
      include /includes/location-info-item/review-item
      