include /mixins/rating

.review.list-group-item.flex-column-align-items-start
  .d-flex.w-100.justify-content-between
    h5.mb-1= review.author
    small.rating
      +rating(review.rating)
  p.mb-1 !{review.reviewText.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>')}
  small= review.timestamp
  