.review.list-group-item.list-group-item-action.flex-column-align-items-start
  .d-flex.w-100.justify-content-between
    h5.mb-1 Simon Holmes
    small.rating
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
  p.mb-1 Such a nice place. Good enough and comfortable for working.
  small 16 July 2013 
  