.card.rewiew-card
  .card-header
    a.btn.btn-primary.float-right(href="/location/review/new") Add review
    h2.card-title Customer reviews
  .card-body
    include review-item
    include review-item
    include review-item
      